*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body { background-image: url("https://images.unsplash.com/31/RpgvvtYAQeqAIs1knERU_vegetables.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f7452e128d0aacc006adab4b43d46bc8") ;
/*  background: #f5f5f5;*/ 
 background-size: 100%;
  font-family: 'Titillium Web', sans-serif;
}



a {
  text-decoration: none;
  color: #48C46A;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #48C46A!important;
}

.form {
  background: #000000!important;
  opacity: 0.9;
  padding: 40px;
  max-width: 700px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
 padding-top: 6px;
 padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 5px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  height: -30%!important;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #48C46A;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

p {
  text-align: center;
  color: #ffffff!important;
  font-weight: 100;
  margin: 0 0 40px;
}

label .req {
  margin: 2px;
  color: #48C46A;
}

label.active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  left: 2px;
  font-size: 12px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 70%;
  padding: 1px 2px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #48C46A;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 30px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  margin-left: 130px!important;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #48C46A;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 60%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
